.voice-chat-container {
    margin: 0 auto;
}

.chat-container {
    height: 400px; /* Adjust based on your requirements */
    overflow-y: auto;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
}

.chat-message {
    max-width: 60%;
    padding: 1rem;
    border-radius: 1rem;
    word-wrap: break-word;
}

.ai {
    max-width: 60%;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}

.user {
    max-width: 60%;
    margin-left: auto;
    margin-right: 0;
    color: #fff;
    text-align: right;
}