.skeleton-background {
    background-color: #e2e2e2;
    border-radius: 4px;
}

.skeleton-animate {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}